**/2bwm:wmutils
**/adblock
**/adnw
**/aerc
**/ag
**/alacritty
**/alot
**/alsa
**/*AppImage
**/astroid
**/autokey
**/beets
**/berry
**/*.diff
**/bin/herbst*
**/btsync
**/build/cfg/home
!**/build/config/etc/profile.d
**/build/nixos
**/build/obarun
**/build/root
**/build/void
**/build/vps
**/byobu
**/.cache
**/caddy
**/calcurse
**/calibre
!*/media/calibre
**/centerim
**/chimera.void
**/chrome
**/chromium
**/clipit
**/compton
**/config
**/corne.void
**/crontab
**/default
**/.deprecated
**/*\.desktop
**/description
**/dinit.@summrun
**/dmenu/.config
**/dmenu/.d
!**/dmenu/notes
**/dnsmasq
**/documents
**/drafts
**/dwb
**/elinks
**/emacs
**/*.experimental
**/fasd
**/fbreader
**/firefox
**/fish/fishd*
**/fish/functions/twitter.fish
**/fish/.local
**/fish_variables
**/focuswriter
**/font-manager
**/fonts/b-rounded
**/fonts/.fonts/*
**/fstab
**/geany
**/georgi/qmk_firmware/users/dennytom*
**/georgi.void
**/ghci
**/.git
**/.gnupg
**/gtk
**/guake
**/hbro
**/HEAD
**/helix/runtime*
!**/herbstluftwm/config
**/.hg*
**/hg
**/.history
**/hooks
**/icons
**/images
**/imap
**/imap_keyringc
**/infinality
**/info
**/irssi
**/isync
**/jumanji
**/kak/bundle
**/kb-layout-evaluation/characters_stats
**/kb-layout-evaluation.panda_plot/characters_stats
**/kb-layout-evaluation.panda_plot/README.md
**/kb-layout-evaluation/README.md
**/kde
**/kindlegen
**/kindle/koreader
**/klavaro
**/kobo/**/bin
**/kobo/**/firmware
**/kobo/.kobo
**/kobo/kobopatch*
**/kobo/KoboStuff
**/kobo/screensaver
**/kobo/sideloadmode
**/kobopatch
!**/kobopatch*/*.yaml
!**/kobopatch*/src/*.yaml
**/koreader/koreader*
**/koreader/**/dict
**/.local/bin
**/*.log
**/logrotate
**/lsyncd
**/lua
**/luakit
**/luakit/bookmarks*
**/luakit/*.db
**/luakit/quickmarks
**/mail/*
!**/mail/aerc
!**/mail/alot
!**/mail/cleandrafts
!**/mail/compose
!**/mail/imap
!**/mail/mailcot
!**/mail/mailqueue
!**/mail/mailsync
!**/mail/mailwd
!**/mail/notmail
!**/mail/unknown_mail
**/makepkg
**/.mcabber
**/mpv
**/msmtp
**/music
**/mutt
**/nano
**/nanoki
**/neofetch
**/newsbeuter
**/nginx
**/.nnn:*
**/nnn/.config/nnn/bookmarks
**/nnn/.config/nnn/.*.tmp
**/nnn/.config/nnn/mounts
**/nnn/.config/nnn/plugins
!**/nnn/.config/nnn/plugins/._*
!**/nnn/.config/nnn/plugins/_*
**/nnn/.config/nnn/.selection
**/nnn/.config/nnn/sessions
**/nohup.out
**/notes
!**/menu/notes
**/notion
**/.notion/default-session*
**/notmuch
**/nvim
**/nvpy
**/nzbget
!**/dinit.d*/nzbget
**/*\.o
!**/office/chromium
**/openbox
**/openrc
**/orbit
**/*.original
**/pass
**/.password-store
**/patricia*
**/pavolume
**/planck.void
**/profanity
**/.projectsrc
**/pulse
**/*.pyc
**/__pycache__
**/pyradio
**/pyroom
**/quikey/.local/share/quikey/*.log
**/quikey/.local/share/quikey/phrases.json.*
**/qutebrowser
**/qutebrowser/quickmarks
**/qutebrowser/qutebrowser.conf.*
**/ranger
**/remind
**/retext
**/rox
**/rslsync
**/rtorrent
**/rubyroom
**/runit
**/runtime
**/sakura
**/sandbox
**/*.save
**/scratchpad*
!**/scratchpad
**/screen
!**/chef/screen
!**/query/screen
**/.session*
**/slrn
**/spacemacs
**/speedcrunch
**/splitography.void
**/ssh
**/stardict
**/.stfolder
**/subtle
**/sup
**/surfraw
**/synapse
**/.sync
**/tarot
**/td-cli
**/terminal
**/terminator
**/termite
**/*.tgz
**/thedarnedestthing
**/themes
!**/helix/themes
**/thunar
**/timestamp
**/tint2
**/tixati
**/*tmp
**/tmux.lock
**/tmux/.tmux/plugins/tpm/.gitignore
**/todo
**/transmission
**/trayion
**/ttytter
**/typer.db
**/tyrs
**/udiskie
**/urlview
**/user
**/*.uuid
**/uzbl
**/vifm
**/.vim/autoload
**/vimb
**/.vim/backups
**/vimb/bookmark
**/vimb/closed*
**/vimb/command
**/vimb/cookies
**/vimb/history*
**/vimb/hsts
**/vimb/queue
**/vimb/search
**/vimb/vimb.socket
!**/.vim/config
**/.vim/job
**/.vim/.netrwhist
**/.vim/plugged
!**/.vim/plugged/vim-duochrome
**/.vim/plugin
**/.vim/spell
**/.vim/texput*
**/.vim/undo
**/.vimv
**/vimwiki
**/vis
**/vps
**/.weechat
!**/.weechat/python/*.py
**/.wego
**/wego
**/wireplumber
**/wmutils
**/worm
**/xfce4
**/xmobar
**/Xmodmap
**/xmonad
**/xpad
**/xscreensaver
**/yaourt
**/*.zip
**/zk
