**/adblock
**/adnw
**/aerc
**/ag
**/alacritty
**/alot
**/alsa
**/*AppImage
**/astroid
**/autokey
**/beets
**/bin/herbst*
**/btsync
**/build/cfg/home
!**/build/config/etc/profile.d
**/build/nixos
**/build/obarun
**/build/root
**/build/void
**/build/vps
**/byobu
**/.cache
**/calcurse
**/calibre
**/centerim
**/chimera.void
**/chrome
**/chromium
**/clipit
**/colordiff
**/compton
**/config
**/corne.void
**/crontab
**/default
**/.deprecated
**/description
**/dmenu/.config
**/dmenu/.d
!**/dmenu/notes
**/dnsmasq
**/documents
**/drafts
**/dwb
**/elinks
**/emacs
**/*.experimental
**/fasd
**/fbreader
**/firefox
**/fish/fishd*
**/fish/functions/twitter.fish
**/fish/.local/share/fish
**/fish_variables
**/focuswriter
**/font-manager
**/fonts/b-rounded
**/fonts/.fonts/*
**/fstab
**/geany
**/georgi/qmk_firmware/users/dennytom*
**/georgi.void
**/ghci
**/.git
**/.gnupg
**/gtk
**/guake
**/hbro
**/HEAD
**/helix/runtime
!**/herbstluftwm/config
**/.hg*
**/hg
**/.history
**/hooks
**/icons
**/images
**/imap
**/imap_keyringc
**/infinality
**/info
**/irssi
**/isync
**/jumanji
**/kb-layout-evaluation/characters_stats
**/kb-layout-evaluation.panda_plot/characters_stats
**/kb-layout-evaluation.panda_plot/README.md
**/kb-layout-evaluation/README.md
**/kde
**/kindlegen
**/klavaro
**/kobo/**/bin
**/kobo/**/firmware
**/kobo/.kobo
**/kobo/kobopatch_4.30.18838/kobopatch.bat
**/kobo/kobopatch_4.30.18838/kobopatch.sh
**/kobo/kobopatch_4.30.18838/readme.txt
**/kobo/kobopatch_4.30.18838/src/download_firmware_here.txt
**/kobo/kobopatch_4.32.19501/kobopatch.bat
**/kobo/kobopatch_4.32.19501/kobopatch.sh
**/kobo/kobopatch_4.32.19501/readme.txt
**/kobo/kobopatch_4.32.19501/src/download_firmware_here.txt
**/kobo/kobopatch_4.34.20097/kobopatch.bat
**/kobo/kobopatch_4.34.20097/kobopatch.sh
**/kobo/kobopatch_4.34.20097/kobopatch.yaml.new
**/kobo/kobopatch_4.34.20097/readme.txt
**/kobo/kobopatch_4.34.20097/src/download_firmware_here.txt
**/kobo/kobopatch_4.37.21586/kobopatch.bat
**/kobo/kobopatch_4.37.21586/kobopatch.sh
**/kobo/kobopatch_4.37.21586/kobopatch.yaml.new
**/kobo/kobopatch_4.37.21586/readme.txt
**/kobo/kobopatch_4.37.21586/src/download_firmware_here.txt
**/kobo/kobopatch_overrides
**/kobo/KoboStuff
**/kobo/**/out
**/kobopatch
**/kobo/koreader
**/kobo/screensaver
**/kobo/sideloadmode
**/.local/bin
**/*.log
**/logrotate
**/lsyncd
**/lua
**/luakit
**/luakit/bookmarks*
**/luakit/*.db
**/luakit/quickmarks
**/mail
**/makepkg
**/.mcabber
**/mpd
**/mpv
**/msmtp
**/music
**/mutt
**/nano
**/nanoki
**/neofetch
**/newsbeuter
**/nginx
**/.nnn:*
**/nnn/.config/nnn/bookmarks
**/nnn/.config/nnn/.history-17901.tmp
**/nnn/.config/nnn/mounts
**/nnn/.config/nnn/plugins/autojump
**/nnn/.config/nnn/plugins/boom
**/nnn/.config/nnn/plugins/bulknew
**/nnn/.config/nnn/plugins/.cbcp
**/nnn/.config/nnn/plugins/cdpath
**/nnn/.config/nnn/plugins/CHANGELOG
**/nnn/.config/nnn/plugins/chksum
**/nnn/.config/nnn/plugins/cmusq
**/nnn/.config/nnn/plugins/diffs
**/nnn/.config/nnn/plugins/dragdrop
**/nnn/.config/nnn/plugins/dups
**/nnn/.config/nnn/plugins/finder
**/nnn/.config/nnn/plugins/fixname
**/nnn/.config/nnn/plugins/fzcd
**/nnn/.config/nnn/plugins/fzhist
**/nnn/.config/nnn/plugins/fzopen
**/nnn/.config/nnn/plugins/fzplug
**/nnn/.config/nnn/plugins/getplugs
**/nnn/.config/nnn/plugins/.gitignore
**/nnn/.config/nnn/plugins/gitroot
**/nnn/.config/nnn/plugins/gpgd
**/nnn/.config/nnn/plugins/gpge
**/nnn/.config/nnn/plugins/gsconnect
**/nnn/.config/nnn/plugins/gutenread
**/nnn/.config/nnn/plugins/.iconlookup
**/nnn/.config/nnn/plugins/imgresize
**/nnn/.config/nnn/plugins/imgur
**/nnn/.config/nnn/plugins/imgview
**/nnn/.config/nnn/plugins/ipinfo
**/nnn/.config/nnn/plugins/kdeconnect
**/nnn/.config/nnn/plugins/launch
**/nnn/.config/nnn/plugins/LICENSE
**/nnn/.config/nnn/plugins/Makefile
**/nnn/.config/nnn/plugins/mimelist
**/nnn/.config/nnn/plugins/moclyrics
**/nnn/.config/nnn/plugins/mocq
**/nnn/.config/nnn/plugins/mp3conv
**/nnn/.config/nnn/plugins/mtpmount
**/nnn/.config/nnn/plugins/nbak
**/nnn/.config/nnn/plugins/nmount
**/nnn/.config/nnn/plugins/.nmv
**/nnn/.config/nnn/plugins/nnn.1
**/nnn/.config/nnn/plugins/.nnn-plugin-helper
**/nnn/.config/nnn/plugins/.ntfy
**/nnn/.config/nnn/plugins/nuke
**/nnn/.config/nnn/plugins/oldbigfile
**/nnn/.config/nnn/plugins/openall
**/nnn/.config/nnn/plugins/organize
**/nnn/.config/nnn/plugins/pdfread
**/nnn/.config/nnn/plugins/preview-tabbed
**/nnn/.config/nnn/plugins/preview-tui
**/nnn/.config/nnn/plugins/pskill
**/nnn/.config/nnn/plugins/README.md
**/nnn/.config/nnn/plugins/renamer
**/nnn/.config/nnn/plugins/ringtone
**/nnn/.config/nnn/plugins/rsynccp
**/nnn/.config/nnn/plugins/splitjoin
**/nnn/.config/nnn/plugins/suedit
**/nnn/.config/nnn/plugins/togglex
**/nnn/.config/nnn/plugins/umounttree
**/nnn/.config/nnn/plugins/upload
**/nnn/.config/nnn/plugins/wallpaper
**/nnn/.config/nnn/plugins/x2sel
**/nnn/.config/nnn/plugins/xdgdefault
**/nnn/.config/nnn/.selection
**/nnn/.config/nnn/sessions
**/nohup.out
**/notes
**/notion
**/.notion/default-session*
**/notmuch
**/nvim
**/nvpy
**/nzbget
!**/office/chromium
**/openbox
**/openrc
**/orbit
**/*.original
**/pass
**/.password-store
**/patricia*
**/pavolume
**/planck.void
**/profanity
**/.projectsrc
**/pulse
**/*.pyc
**/__pycache__
**/pyradio
**/pyroom
**/quikey/.local/share/quikey/*.log
**/quikey/.local/share/quikey/phrases.json.*
**/qutebrowser
**/qutebrowser/quickmarks
**/qutebrowser/qutebrowser.conf.*
**/ranger
**/remind
**/retext
**/rox
**/rslsync
**/rtorrent
**/rubyroom
**/runtime
**/sakura
**/sandbox
**/.save
**/scratchpad*
**/screen
**/.session*
**/slrn
**/spacemacs
**/speedcrunch
**/splitography.void
**/ssh
**/stardict
**/.stfolder
**/subtle
**/sup
**/supernote
**/surfraw
**/synapse
**/.sync
**/tarot
**/td-cli
**/terminal
**/terminator
**/termite
**/*.tgz
**/thedarnedestthing
**/themes
!**/helix/themes
**/thunar
**/timestamp
**/tint2
**/tixati
**/tmux.lock
**/tmux/.tmux/plugins/tpm/.gitignore
**/todo
**/transmission
**/trayion
**/ttytter
**/typer.db
**/tyrs
**/udiskie
**/urlview
**/user
**/*.uuid
**/uzbl
**/vifm
**/.vim/autoload
**/vimb
**/.vim/backups
**/vimb/bookmark
**/vimb/closed*
**/vimb/command
**/vimb/cookies
**/vimb/history*
**/vimb/hsts
**/vimb/queue
**/vimb/search
**/vimb/vimb.socket
!**/.vim/config
**/.vim/job
**/.vim/.netrwhist
**/.vim/plugged
!**/.vim/plugged/vim-duochrome
**/.vim/plugin
**/.vim/spell
**/.vim/texput*
**/.vim/undo
**/.vimv
**/vimwiki
**/vis
**/vps
**/.weechat
!**/.weechat/python/*.py
**/.wego
**/wego
**/wmutils
**/xfce4
**/xmobar
**/Xmodmap
**/xmonad
**/xpad
**/xscreensaver
**/yaourt
**/*.zip
