* { word-break: break-word !important; }

c-wiz * { max-width: 576px !important; }

/* google chat input field */

d-view div div div div div div div div div div div div { font-family: ottawa,monospace !important; }

/* google chat sidebar */

body div div div div div { font-family: ottawa,monospace !important; }

/* google chat account */

div span span span span span span { font-family: ottawa,monospace !important; }
